# Archivos y directorios generados por Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos generados por el IDE o editor de código
.vscode/
.idea/

# Archivos de compilación y construcción
/build/
/dist/

# Archivos de configuración local
.env

# Archivos de registro
*.log

# Archivos de respaldo
*.bak
*.backup

# Archivos de imagen generados
/uploads/

# Otros archivos y directorios específicos de tu proyecto
